h1 {
    color: #007BFF;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 5px;
}

strong {
    color: #007BFF;
}

hr {
    border: 0;
    height: 1px;
    background-color: #ddd;
}

em {
    color: #dc3545;
}

.user-skills {
    margin-top: 10px;
}

.user-skills strong {
    display: block;
    color: #28a745;
    margin-bottom: 5px;
}

.user-skills ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.user-skills li {
    display: inline-block;
    margin-right: 10px;
    background-color: #1A4749;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

.auth-container-directory {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    flex-direction: row;
}

.form-directory {
    background: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.label-directory {
    margin-bottom: 5px;
    color: #333;
    display: flex;
}

.input-field-directory {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    width: 400px;
}

.submit-button-directory {
    cursor: pointer;
    color: #1A4749;
    padding: 10px 15px;
    margin: 5px;
    transition: all 0.3s ease;
    font-size: 1.1em;
    font-weight: bold;
    background-color: transparent;
    display: flex;
    border: 2px solid;
    border-radius: 5px;
}

.submit-button-directory:hover {
    color: #54C3BA;
}

a:link, a:visited {
    text-decoration: none;
}